/*** Spinner Start ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .8s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
   transition: opacity .8s ease-out, visibility 0s linear .0s;
   visibility: visible;
   opacity: 1;
}
/*** Spinner End ***/

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 99;
}

/* navbar */
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
   color:#944E63;
}
.bn532-hover {
   width:100%;
   height:100%;
   font-size: 20px;
   font-weight: 800;
   color: #fff;
   cursor: pointer;
   margin: 0px;
   height: 40px;
   text-align:center;
   border: none;
   background-size: 300% 100%;
   border-radius: 20px;
   moz-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
 }
 
 .bn532-hover:hover {
   background-position: 100% 0;
   moz-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
 }
 
 .bn532-hover:focus {
   outline: none;
 }
 
 .bn532-hover.bn27 {
   background-image: linear-gradient(
     to right,
     #ed6ea0,
     #ec8c69,
     #f7186a,
     #fbb03b
   );
   box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
 }
.bn732-hover {
   width: 160px;
   font-size: 16px;
   font-weight: 600;
   color: #fff;
   cursor: pointer;
   margin: 20px;
   height: 55px;
   text-align:center;
   border: none;
   background-size: 300% 100%;
   border-radius: 50px;
   moz-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
 }
 
 .bn732-hover:hover {
   background-position: 100% 0;
   moz-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
 }
 
 .bn732-hover:focus {
   outline: none;
 }
 
 .bn732-hover.bn27 {
   background-image: linear-gradient(
     to right,
     #ed6ea0,
     #ec8c69,
     #f7186a,
     #fbb03b
   );
   box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
 }
/* carousel */
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(9, 30, 62, .7);
  z-index: 1;
}

@media (max-width: 576px) {
  .carousel-caption h5 {
      font-size: 14px;
      font-weight: 500 !important;
  }

  .carousel-caption h1 {
      font-size: 30px;
      font-weight: 600 !important;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}


.progress {
  height: 5px;
}

.progress .progress-bar {
  width: 0px;
  transition: 3s;
}
/*** Product ***/
.nav-pills .nav-item .btn {
  color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
  color: #FFFFFF;
}

.product-item {
  box-shadow: 0 0 45px rgba(255, 255, 255, 0.07);
}

.product-item img {
  transition: .5s;
}

.product-item:hover img {
  transform: scale(1.1);
}

.product-item small a:hover {
  color: var(--primary) !important;
}


.gallery .tab-class .nav-item {
  padding: 0 0 20px 0;
}

.gallery .gallery-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.gallery .gallery-img img {
  transition: 0.5s;
}

.gallery .gallery-img:hover img {
  transform: scale(1.3);
}

.gallery .gallery-img .gallery-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  transition: 0.5s;
  opacity: 0;
  z-index: 1;
}

.gallery .gallery-img .search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  opacity: 0;
  z-index: 2;
  
}

.gallery .gallery-img:hover .gallery-overlay,
.gallery .gallery-img:hover .search-icon {
  opacity: 1;
}
.testimonial-carousel .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background: #DDDDDD;
  transition: .5s;
}

.testimonial-carousel .owl-dot.active {
  width: 40px;
  background: #7AB730;
}

.testimonial-carousel .owl-item.center .testimonial-text {
  box-shadow: 0 0 30px #CCCCCC;
}
.bn632-hover {
  width: 40px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  margin: 4px;
  height: 40px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn28 {
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}
/*** Services Start ***/
.services .services-item {
  transition: 0.5s;
  color: #944E63;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.services .services-item:hover {
  background-color: #944E63;
  
}


.services .services-item .services-img {
  overflow: hidden;
  
}

.services .services-item .services-img img {
  transition: 0.5s;}

.services .services-item .services-img img:hover {
  transform: scale(1.3);
}
/*** Services End ***/